/* fonts links */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=Lobster+Two:ital@1&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@400;500;700&family=Roboto&display=swap');

.body{
    width: 1600px;
    background-color: #FFFFFF;
    
}

main{ 
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Poppins', sans-serif;

}
.container{
    width:1321px;
     height:646px;
    background-color: #161616;
    border-radius: 30px;
    
}
.hero-container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 30px;
   padding-left: 105px;
}

.hero-content{
    width: 530px;
    padding-top: 110px;
    color:#FFFFFF
    
}
.heading-text{
    font-size: 70px;
    line-height: 80px;
   margin: 0;
    
}
.heading-pera{
    font-size: 16px;
    margin-top: 20px;
}
.animated{
    display: flex;
    align-items: center;
    margin-top: 30px;
   padding:16px 25px;
     border-radius: 5px; 
    transition: border 2s ease,height 5s ease,color 5s ease; 
    
}

.animated:hover{
    border : 5px solid rgb(220, 35, 72);
    background-color: #161616;
    color:#FFFFFF
}


/* .animated p{
    margin: 0;
} */

.check{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.fa-angle-right{
    margin-left: 10px;
}
.hero-img img{
   width: 580px;
}

/* blog styles */
.blog{
    width:1321px;
    margin-top: 130px;
    margin-bottom: 130px;
    
}
.thumbnail{
    display: flex;
    flex-direction: row;
  
}
.blogs{
width: 312px;
height: 312px;
background-color:#161616;
border-radius: 10px;
margin-right: 24px;
padding: 30px;

}


.blogs-item{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.items{
  font-size: 20px;
  font-weight: 500;
    text-decoration:none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    margin-top: 30px;
    text-align: center;

}
.items-one{padding: 17px 39px;}
.items-two{padding: 17px 80px;}
.items-three{padding: 17px 102px;
background-color: #3a3939;
color: #FFFFFF;
}
.item-new-style{background-color: #3a3939;
    color: #FFFFFF;
    padding: 17px 39px;}
    .item-new-style-third{
        padding: 17px 102px;
        background-color: #ffffff;
        color: #000000;
    }

/* blog live */

.blog-live-detail{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    row-gap: 24px;
}
.blog-image{
    margin-bottom: 24px;
}
.blog-transfer{
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #161616;
    padding:5px 16px;
    color: #161616;
  
}
.blog-text{
    font-size: 18px;
    font-weight: 600;
}
.fa-clock .fa-message{margin-right: 5px;}

.classes{
    display: flex;
     gap:30px;
}

.hiddden-button{
    display:none
}

/* footers detail */
.footer-details{
    padding:130px 140px;
    background-color: #161616;
    width:100%;
    display: flex;
    flex-direction:column;
    gap: 50px;
    justify-items: center;
   align-items: center;
}
.footer-text{
    color:#FFFFFF;
    font-size: 40px;
    font-weight: 600;
}
.horizintal-line{
    width: 1320px;
}
.footer-links a{
text-decoration: none;
color:#B9B9B9;
font-size: 16px;
margin-right: 21px;
}

.icon-color{
    color: #FFFFFF;
   padding: 0 10px;
   text-align: center;
}


/* upcoming matches styles */

 .versus{
    display: grid;
   
    justify-items: center;

} 

.flags{
   
   align-items: center;
   justify-items: center;
    display:grid;
    grid-template-columns: repeat(3, 1fr);  
   
}
.versus{
    width: 312px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding:53px 30px;
}
.versus-content{
    /* margin-top: -50px; */
}
.versus-text{
    text-align: center;
}

/* group page styles */

.group{
width: 927px;
background-color: #161616;;
border-radius: 30px;
color: #FFFFFF;
padding-top: 5%;

}
.groups{
    display: grid;
grid-template-columns: repeat(3, 1fr);
}
.france-flag{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.germany-flag{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 20px;
    margin-left: 15px;
}

.match-groups{
    align-items: center;
    justify-items: center;
     display:grid;
     border: 1px solid #ffffff;
     margin:0 10px;
     padding-bottom: 20px;
     border-radius: 10px;

}

.new-button{
    visibility: hidden;
}

/*----------------- 
media queries
------------------- */
/* responsive for mobile devices */
@media only screen and (max-width:480px) {
.container{
    width: 334px;
    height:549px;
}
.hero-container{
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
}
.hero-content{
    width: 258px;
    padding-top: 0px;
}
.heading-text{
    width: 228px;
    text-align: center;
    font-size: 22px;
    line-height: 33px;

}
.heading-pera{
    height: 48px;
text-align: center;
 white-space: nowrap; 
   overflow: hidden;
  text-overflow: ellipsis;  
}
.animated{
  margin-left: 40px;
}
.hero-img img{
    width: 233px;
    height:245px;
    margin-top: 21px;
}

.thumbnail{
    width: 100%;
    flex-direction:column;
    align-items: center;
}
.blog{
  margin-top: 24px;
  margin-right: 0px;
  width: auto;
 
}
.blogs{
    margin-right: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}
.items{
    margin-top: 16px;
}
.items-one,.items-two{
    border: 1px solid #E8E8E8;
}
.blog-live-detail{
    grid-template-columns: repeat(1,1fr);
}
.hiddden-button{
    display:none
}
.footer-details{
   padding: 0px 140px;
   gap:10px;
}
.footer-text{
font-size: 22px;
text-align: center;

}
.horizintal-line{
width:335px;
margin:0px;
align-items: center;
}
.footer-links{
    display: flex;
    flex-direction: column;
  margin-top:20px;
  gap: 20px;
    text-align: center;
}
.social{
    margin-top: 20px;
  align-items: center;  
  justify-content:space-between;
}

}

/* --------------------------
responsive for tab design
---------------------------- */

@media only screen and (min-width:481px) and (max-width:834px){

.main{
    width: 100%;
}
    .container{
        width: 734px;  
        height: 470px;
    }
    .hero-container{
       padding-left: 0px;
       margin-top: 0px;
    

    }
    .hero-content{
       margin-top: 15%;
        margin-left:7%;
        padding-top: 0px;
        

    }
    .heading-text{
       
        font-size: 40px;
        line-height: 50px;
    }
    .heading-pera{
      width: 316px;
        
         white-space: nowrap; 
           overflow: hidden;
          
    }
    .hero-img img{
        width: 323px;
        height:340px;
        
        margin-top: 40%

}
.blog{
    width:734px;
    margin-top:70px;

}
.thumbnail{
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.blogs{
   width:100%;
   height:0px;
   padding:0px;
    background-color: #FFFFFF;
    align-items: center;
}
.blogs-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.items-one,.items-two{
    border: 1px solid #E8E8E8;
}
.blog-live-detail{
    grid-template-columns: repeat(2,1fr);
    margin-top: 20%;
}

.items-one{padding: 17px 28px;}
.items-two{padding: 17px 68px;}
.items-three{padding: 17px 92px;
background-color: #3a3939;
color: #FFFFFF;
}



.footer-details{
    width:734px;
    padding: 0px 140px;
    gap:10px;
 }
 .footer-text{
 font-size: 22px;
 text-align: center;
 
 }
 .horizintal-line{
 width:734px;
 margin:0px;
 align-items: center;
 }
 .footer-links{
    width:635px;
   margin-top:20px;
    text-align: center;
    justify-content:space-between;
    
 }
 .social{
     margin-top: 20px;
   align-items: center;  
   justify-content:space-between;
 }

 .new-button{
    visibility: visible;
    background-color: #161616;
    padding:12px 29px;
    border-radius: 5px; 
   border-style: none;
   margin-top: 50px;
}
.new-one{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin:0px;
}









}